
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: gray;
    font-family: Arial, sans-serif;
    color: white;
    padding: 0;
    margin: 0;
}

h1 {
    font-weight: bold;
    font-stretch: extra-expanded;
    font-style: normal;
    align-self: center;
    padding: 64px;
}

.section {
    margin-bottom: 4px;
    width: 600px;
    align-items: center;
}


table {
    width: 550px;
}

td {
    padding: 4px;
}

.label {
    width: 50%;
    text-align: end;
}

.input {
    width: 50%;
}


label {
    font-weight: bold
}

.label{
    font-weight: bold;
}

.element {
    padding: 15px;
    font-style: italic;
    font-size: x-large;
}

.sensorvalue {
    text-align: right;
}

.icon {
    text-align: center;
}

#color_selector {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}


h2 {
    width: 600px;
    text-align: left;
    color: #606060;
    font-size: 20px;
    margin: 4px;
}

button {
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

span {
    padding: 4px;
    vert-align: middle;
}
#bottom {
    background-color: rgba(0,0,0,.4);
    width: 100%;
    text-align: center;
    padding: 16px;
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
#module_list {
    display: none;
}